<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.ant.AntLaunchConfigurationType">
<booleanAttribute key="org.eclipse.ant.ui.DEFAULT_VM_INSTALL" value="false"/>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/de.badbathbears.privacycraft.core/build.xml"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.CLASSPATH_PROVIDER" value="org.eclipse.ant.ui.AntClasspathProvider"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="de.badbathbears.privacycraft.core"/>
<stringAttribute key="org.eclipse.jdt.launching.SOURCE_PATH_PROVIDER" value="org.eclipse.ant.ui.AntClasspathProvider"/>
<mapAttribute key="org.eclipse.ui.externaltools.ATTR_ANT_PROPERTIES">
<mapEntry key="eclipse.home" value="${eclipse_home}"/>
<mapEntry key="eclipse.pdebuild.home" value="${eclipse_home}/plugins/org.eclipse.pde.build_3.8.1.v20120725-202643/./"/>
<mapEntry key="eclipse.pdebuild.scripts" value="${eclipse_home}/plugins/org.eclipse.pde.build_3.8.1.v20120725-202643/scripts/"/>
<mapEntry key="eclipse.pdebuild.templates" value="${eclipse_home}/plugins/org.eclipse.pde.build_3.8.1.v20120725-202643/templates/"/>
<mapEntry key="eclipse.running" value="true"/>
<mapEntry key="mcp.home" value="${mcp_home}"/>
<mapEntry key="project.classpath" value="${project_classpath}"/>
<mapEntry key="project.name" value="${project_name}"/>
</mapAttribute>
<stringAttribute key="org.eclipse.ui.externaltools.ATTR_ANT_TARGETS" value="update,"/>
<stringAttribute key="org.eclipse.ui.externaltools.ATTR_LOCATION" value="${workspace_loc:/de.badbathbears.privacycraft.core/build.xml}"/>
<stringAttribute key="process_factory_id" value="org.eclipse.ant.ui.remoteAntProcessFactory"/>
</launchConfiguration>
